<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Malos Habitos{% endblock %}{% if app.environment == 'dev' %} | dev {% endif %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fuentes.css') }}">
        <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        {% if app.environment == 'prod' %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-44187248-1', 'interactivevalley.com');
            ga('send', 'pageview');

        </script>
         {% endif %} 
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class=chromeframe>Your browser is <em>ancient!</em> 
        <a href="http://browsehappy.com/">Upgrade to a different browser</a> or 
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        </p>
        <![endif]-->
        <div id="container">
            <header>
                <div class="logo">
                    <img src="{{asset('images/keyarts/home/homelogo.png')}}" alt="Malos Habitos">
                </div>
                <nav>
                    <ul>
                    <li><a href="#about" class="about" rel="scroll">&nbsp;</a></li>
                    <li><a href="#news" class="news" rel="scroll">&nbsp;</a></li>
                    <li><a href="#artistas" class="artistas" rel="scroll">&nbsp;</a></li>
                    <li><a href="#shop" class="shop" rel="scroll">&nbsp;</a></li>
                    <li><a href="#contact" class="contact" rel="scroll">&nbsp;</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                {% block body %}{% endblock %}
            </section>		
            <footer>
                
            </footer>
        </div>
        <div class="loader-richpolis">
            <div id="followingBallsG">
                <div id="followingBallsG_1" class="followingBallsG">
                </div>
                <div id="followingBallsG_2" class="followingBallsG">
                </div>
                <div id="followingBallsG_3" class="followingBallsG">
                </div>
                <div id="followingBallsG_4" class="followingBallsG">
                </div>
            </div>
        </div>     

   {% block javascripts %}
    <script src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
    <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('js/jquery.scrollto.js')}}"></script>
    <script src="{{asset('js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>
    
   {% endblock %}
</body>
</html>
