{% extends "BackendBundle::backend.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'publicaciones'} %}
{% endblock %}
    
{% block siderbar %}  
    {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': entity.categoria.slug} %}
{% endblock %}    

{% block body %}
<h1>Editar Publicacion "{{ entity.tituloEn }} / {{ entity.tituloEs }}"</h1>

<form id="formPrincipal" action="{{ path('publicacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
</form>

    <p style="margin-top: 10px;">
    <ul class="record_actions nav nav-pills">
        <li>
            <button class="btn btn-primary" onclick="$('#formPrincipal').submit();">Actualizar</button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn" onclick="location.href = '{{ path('publicacion') }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('publicacion_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </li>
        </ul>

    </p>
{% endblock %}