<div class="galeria-artistas">
    <ul class="lista-galeria-artistas">
        {% for galeria in artista.galerias %}
        <li>
            <!--figure-->
                {% if galeria.isImagen == true %}
                    <img src='{{galeria.webPath | apply_filter('galerias_artistas') }}' alt="{{galeria.titulo}}"/>
                {% else %}
                    {{galeria.archivoArtistasView | raw }}
                {% endif %}
            <!--/figure-->
        </li>
        {% endfor %}
    </ul>
    <div class="ctl-galeria-artistas-left"></div>
    <div class="ctl-galeria-artistas-right"></div>
</div>
<div class="contenido-artistas">
    <h3>
    {{artista.categoria}}
        <span class="cerrar-contenido-artista">&nbsp;</span>
    </h3>
    {{artista.descripcion | raw }}
</div>
<div class="redes-sociales-artistas">
    {% if artista.twitter | length > 0%}
    <a href="{{artista.twitter}}" class="red-social-twitter" target="_blank"></a>
    {% endif %}
    {% if artista.facebook | length > 0 %}
    <a href="{{artista.facebook}}" class="red-social-facebook" target="_blank"></a>
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        $('.lista-galeria-artistas').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 10,
            pager: true,
            video: true,
            prevSelector: '.ctl-galeria-artistas-left',
            nextSelector: '.ctl-galeria-artistas-right',
            prevText: '',
            nextText: '',
        });
        $(".cerrar-contenido-artista").on("click",function(){
            $(".contenido-ajax").slideUp(500);
        });
    });
</script>