{% if error is not defined %}
    {% set error = 0 %}
    {% set ok = 0 %}
    {% set mensaje = "" %}
{% endif %}


<form onsubmit="return false;" action="{{path('frontend_contacto')}}"  method="POST" class="form-contacto" novalidate="novalidate">
    <div class="input-formulario">
       {{ form_errors(form.name) }}
       {{ form_widget(form.name, {'attr': {'placeholder': 'NOMBRE*'}}) }}
    </div>
    <div class="input-formulario">
       {{ form_errors(form.email) }}
       {{ form_widget(form.email, {'attr': {'placeholder': 'EMAIL*'}}) }}
    </div>
    <div class="input-formulario">
       {{ form_errors(form.subject) }}
       {{ form_widget(form.subject, {'attr': {'placeholder': 'ASUNTO*'}}) }}
    </div>
    <div class="input-formulario">
       {{ form_errors(form.telefono) }}
       {{ form_widget(form.telefono, {'required':false,'attr': {'placeholder': 'TELEFONO'}}) }}
    </div>
    <div class="input-formulario">
       {{ form_errors(form.body) }}
       {{ form_widget(form.body, {'attr': {'placeholder': 'MENSAJE*'}}) }}                    
    </div>
    <div class="input-formulario">
        <button class="form-submit">Enviar</button>
    </div>
   {{form_errors(form)}}
   {{ form_rest(form) }} 
</form>
{% if error %}
<div class="mensaje-formulario error-formulario">
    {{mensaje}}
</div>
{% endif %}
{% if ok %}
<div class="mensaje-formulario ok-formulario">
    {{mensaje}}
</div>
{% endif %}
<script>
setTimeout(function(){
  inicializarContacto();
  mensajeFormulario();
},4000);
</script>

