<div class="contenido-producto">
    <h3>
    {{producto.categoria}}
    <span class="cerrar-contenido-producto">&nbsp;</span>
    </h3>
    
    <div class="contenedor-galeria-producto">
        <ul class="galeria-producto">
            {% for galeria in producto.galerias %}
                <li>
                    <figure>
                        {% if galeria.isImagen == true %}
                        <img src='{{galeria.webPath | apply_filter('galerias_productos') }}' alt="{{galeria.titulo}}"/>
                        {% else %}
                        {{galeria.archivoView | raw }}
                        {% endif %}
                    </figure>
                </li>
            {% endfor %}
        </ul>
        <div class="ctl-galeria-producto-left"></div>    
        <div class="ctl-galeria-producto-right"></div>
    </div>
    <div class="descripcion-producto">
        {{producto.descripcion | raw }}
    </div>
    <hr/>
    <h3>Comprar</h3>
    <p>Gracias por el interes en nuestro producto, envianos tu nombre, email o telefono y te contactaremos para hacer el pedido</p>
    <div class="formulario-pedido">
         {% include 'FrontendBundle:Default:pedido.html.twig' with {'form':form}%}  
    </div>
</div>


<script>
    $(document).ready(function(){
        $('.galeria-producto').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 10,
            pager: false,
            prevSelector: '.ctl-galeria-producto-left',
            nextSelector: '.ctl-galeria-producto-right',
            prevText: '',
            nextText: '',
        });
        
        $(".cerrar-contenido-producto").on("click",function(){
            closeDialogModalRS();
        });
        
    });
</script>