{% extends "BackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'galerias'} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block body %}
<h1>Galerias</h1>

<form id="formPrincipal" action="{{ path('galerias_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p style="margin-top: 10px;">
    <ul class="record_actions nav nav-pills">
        <li>
            <button class="btn btn-primary" onclick="$('#formPrincipal').submit();">Actualizar</button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn" onclick="location.href='{{ path('categorias_show',{'id':categoria.id}) }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('galerias_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

    </p>
</form>

{% endblock %}