{% extends "BackendBundle::backend.html.twig" %}

{% block body %}  
{# block de cuerpo de pagina 9 span #}
<div class="hero-unit">
    <h1>Bienvenidos!</h1>
    <p>Este es un sistema de administracion de contenidos, para conocer mas al respecto favor de dar click en el siguiente boton para conocer mas sobre el.</p>
    <p><a href="{{path('backend_navegar')}}" class="btn btn-primary btn-large">Navegar &raquo;</a></p>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Noticias</h2>
        <p>Administrar las noticias </p>
        <p><a class="btn" href="{{path('categorias_tipo_noticias')}}">Noticias &raquo;</a></p>
    </div><!--/span-->
    
    <div class="span4">
        <h2>Artistas</h2>
        <p>Administrar los registros </p>
        <p><a class="btn" href="{{path('categorias_tipo_artistas')}}">Artistas &raquo;</a></p>
    </div><!--/span-->
    
    <div class="span4">
        <h2>Discos</h2>
        <p>Administrar los productos</p>
        <p><a class="btn" href="{{path('categorias_tipo_productos_discos')}}">Discos &raquo;</a></p>
    </div><!--/span-->
    
    <div class="span4">
        <h2>Ropa</h2>
        <p>Administrar los productos</p>
        <p><a class="btn" href="{{path('categorias_tipo_productos_ropa')}}">Ropa &raquo;</a></p>
    </div><!--/span-->
    
    <div class="span4">
        <h2>Configuracion</h2>
        <p>Configuraciones especiales de la pagina. </p>
        <p><a class="btn" href="{{path('backend_configuraciones')}}">Configuraciones &raquo;</a></p>
    </div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
    
</div><!--/row-->

{% endblock %}