{% extends "BackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'galerias'} %}
{% endblock %}

{% block siderbar %}
     {% if galeria == "Galerias" %}
        {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': 'galeria_oficial'} %}
     {% elseif galeria == "Recomendaciones" %}
        {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': 'galeria_recomendaciones'} %}
     {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block body %}
<h1>Editar categoria "{{entity.categoria}}"</h1>

<form id="formPrincipal" action="{{ path('categorias_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
</form>
    <p style="margin-top: 10px;">
    <ul class="record_actions nav nav-pills">
        <li>
            <button class="btn btn-primary" onclick="$('#formPrincipal').submit();">Actualizar</button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn" onclick="location.href='{{ path('categorias') }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('categorias_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </li>
    </ul>

    </p>
{% endblock %}